html {
    @include font-size(.9375);

    @include respond-to(small) {
        @include font-size(1);
    }

    @include respond-to(large) {
        @include font-size(1.05);
    }

    @include respond-to(x-large) {
        @include font-size(1.125);
    }
}

body,
button,
input,
select,
textarea {
    color: $color__text-main;
    font-family: $font__main;
    line-height: $font__line-height-body;

    @include respond-to(large) {
        line-height: $font__line-height-body * 1.0625;
    }
}

@import "headings";

@import "copy";