$color__brand-1: #fff;
$color__brand-2: #000;
$color__brand-3:#ccc;

$color__background-body: #fff;


/*
 * MASTHEAD STYLES
 */

$color__masthead-background: #fff;

/*
 * CAROUSEL STYLES
 */

$color__carousel-nav:#000;
$color__carousel-nav-active:#e8e8e8;



/*
 * BUTTON STYLES
 */

$color__button-background: #e6e6e6;
$color__button-color: #000;
$color__button-border: #000;
$color__button-hover: red;
$color__button-focus: red;

/*
 * FORM STYLES
 */

 $_color-brand-color-3: #000;

/*
 * PHOTO GALLERY STYLES
 */

$color_photo-gallery-nav-btn:$color__brand-3 ;

/*
 * PHOTO GALLERY STYLES
 */

$color__footer-background: #000;
$color__footer-color: #fff;




$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;


$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;



$color__border-input: #ccc;
$color__border-abbr: #666;
