#masthead {
	background-color: #000;
	@include padding-left-right;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;

	.dropdown-menu {
		display: none;
		position: absolute;
		background-color: green;
		top: 0;
		right: 10em;
		padding: .5em 1em;
		box-shadow: 0 1px 2px 0 rgba(153,153,153,0.35);

		a {
			display: inline-block;
			position: relative;
			text-decoration: none;
			text-transform: uppercase;
			color: #fff;
		}

		ul {
			background-color: green;
			list-style-type: none;
			@include reset;

			// &:hover {
			// 	ul.sub-menu {
			// 		display: block;
			// 	}
			// }

			li {
				position: relative;
				@include reset;

				&:hover .sub-menu {
					visibility: visible; /* shows sub-menu */
					opacity: 1;
					z-index: 1;
					transform: translateY(0%);
					transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */

				}


				a {

					&:after {
						content: '';
						display: inline-block;
						margin-left: 0.6em;
						width: .75em;
						height: .75em;
						margin-bottom: 2px;
						border-top: .2em solid #fff;
						border-right: .2em solid #fff;
						transform: rotate(135deg);
					}
				}

				ul.sub-menu {
					padding: .5em 1em;
					margin: 0 1em;
					visibility: hidden;
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					transform: translateY(-2em);
					z-index: -1;
					transition: all 0.5s ease-in-out 0s, visibility 0s linear 0.5s, z-index 0s linear 0.05s;

					li {
						// padding: .5em 1em;

						a {

							&:after {
								display: none;
							}
						}
					}
				}


			}
		}
	}

	.header-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.site-branding {

			img {
				max-width: 100px;
				display: block;
			}
		}

		.main-navigation {
			display: none;

			.menu-primary-menu-container {
				// display: flex;
				// justify-content: flex-end;
				// align-items: flex-end;
				// margin-right: auto;

				.current-menu-item {
				    a {
				        // color: $color__green;
				    }
				}

				.long-name-nav-link {

				    a {
				        width: 130px;
				    }
				}

				ul {
					list-style-type: none;
					@include reset;
					display: inline-flex;
					justify-content: flex-end;
					align-items: flex-end;

					li {
						display: inline-flex;
						justify-content: flex-end;
						margin: 0 .5em;
						text-align: center;

						a {
						 //    font-family: $font__alt-semibold;
						    text-transform: uppercase;
							text-decoration: none;
							color: #fff;
						    width: 90px;
						    margin: 0 .25em;
						    text-align: center;
						    line-height: 1.2;
						    letter-spacing: 1px;
						    font-size: .9em;
						 //    @include font-smooth;

						    @include respond-to(x-large) {
						        width: 90px;
						    }
						}
					}
				}
			}
		}
	}

	@include respond-to(small) {
		padding-top: 1em;
		padding-bottom: 1em;

		.dropdown-menu {
			display: block;
		}

		.header-wrapper {

			.site-branding {

				img {
					max-width: 150px;
				}
			}
		}
	}

	@include respond-to(large) {
		// padding-top: 2em;
		// padding-bottom: 2em;
		//
		.dropdown-menu {
			right: 3em;
		}

		.header-wrapper {
			align-items: flex-end;

			.site-branding {
				flex: 1;
			}

			.main-navigation {
				display: inline-flex;
				justify-content: flex-end;
				flex: 3;
			}
		}
	}
}
















// Desktop Styles
//
// #masthead {
// 	background-color: #000;
// 	color: #fff;
// 	width: 100%;
// 	height: auto;
// 	padding: 2em 2em 0;

// 	a {
// 		color: #fff;
// 		text-decoration: none;
// 	}

// 	.header-wrapper {
// 		display: flex;
// 		justify-content: space-around;
// 		align-items: baseline;
// 	}

// 	.site-branding {
// 		margin-right: auto;
// 	}

// 	.dropdown-menu {
// 		display: block;
// 		flex: none;
// 		position: absolute;
// 		top: 0;
// 		right: 6em;

// 		.menu-dropdown-menu-container {
// 			background-color: green;
// 			padding:1em 1.5em;

// 			ul {
// 				list-style-type: none;
// 				margin: 0;
// 				padding: 0;

// 				&:hover {
// 					li {
// 						ul {
// 							display: block;
// 						}
// 					}
// 				}

// 				li {
// 					margin: 0;
// 					padding: 0;

// 					a {
// 					}

// 					ul {
// 						display: none;

// 						li {

// 						}
// 					}

// 				}
// 			}
// 		}
// 	}

// 	.main-navigation {
// 		margin-left: auto;

// 		ul {
// 			list-style: none;
// 			display: inline-flex;

// 			li {
// 				margin: 0 .5em;
// 			}
// 		}

// 	}
// }
