#masthead {
	background-color: #000;
	color: #fff;
	width: 100%;
	height: auto;
	// padding: 2em 2em 0;

	a {
		color: #fff;
		text-decoration: none;
	}

	.header-wrapper {
		display: flex;
		justify-content: space-around;
		align-items: baseline;
	}

	.site-branding {
		margin-right: auto;

		img {
			width: 100px;
		}
	}

	.main-navigation {
		display: none;
		margin-left: auto;

		ul {
			list-style: none;
			display: inline-flex;

			li {
				margin: 0 .5em;
			}
		}
	}

	.dropdown-menu {
		display: block;
		flex: none;
		position: absolute;
		top: 0;
		right: 6em;

		.menu-dropdown-menu-container {
			background-color: green;
			padding:1em 1.5em;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;

				&:hover {
					li {
						ul {
							display: block;
						}
					}
				}

				li {
					margin: 0;
					padding: 0;

					a {
					}

					ul {
						display: none;

						li {

						}
					}

				}
			}
		}
	}

	// .mobile-menu {
	// 	display: block;
	// 	color: #fff;
	// }


	@include respond-to(large) {

		.main-navigation {
			display: block;
		}

		.mobile-menu {
			display: none;
		}
	}
}


/* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }

// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
