// Button
.menu-toggle {
    display: block;
    background-color: red;
    color: #fff;
    text-transform: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    // transition:background-color .25s;

    &:hover {
        transition:background-color .25s;
    }

    &:active,
    &:focus {
        // background-color: transparent;

    }

    img {
        width: 35px;
        height: 35px;
    }

    @include respond-to(large) {
        display: none;
    }
}

.mobile-menu {
    display: none;
    background-color: #000;
    border-top: 1px solid #fff;
    position:absolute;
    top: 87px;
    left: 0;
    right: 0;
    height:auto;
    text-align: center;
    color: #fff;
    overflow:hidden;
    z-index:9999;

    a {
        font-size: .75em;
    }

    .current-menu-item {
        color:red;
    }

    .menu-mobile-menu-container {
        padding-top: 1.5em;

        ul {
            list-style: none;
            margin: 0;
            padding:0;
            @include padding-left-right;
            text-align: left;

            li {
                margin: 0;
                padding-bottom: 1em;

                a {
                    color:#fff;
                    padding:0;
                    text-decoration:none;
                    text-align: left;
                    font-size: 1rem;
                    text-transform: uppercase;

                    @include respond-to(x-small) {
                        font-size: 1.5rem;
                    }

                    @include respond-to(medium) {
                        font-size: 1.8rem;
                    }

                    &:hover, &:visited, &:active, :link {
                        color: #fff;
                    }
                }

                ul {
                    li {
                        a {
                            text-transform: capitalize;
                            text-decoration: none;
                            font-size: .9em;
                        }
                    }
                }
            }
        }
    }

    @include respond-to(large) {
        display: none;
    }
}

.mobile-menu.toggled {
    display: block !important;

    .menu-mobile-menu-container {
        display: block !important;
    }

    @include respond-to(small) {
        top:98px
    }

    @include respond-to(large) {
        display: none !important;
    }
}













// Default styles
// /* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
//     display: block;
// }

// @media screen and (min-width: 37.5em) {
//     .menu-toggle {
//         display: none;
//     }
//     .main-navigation ul {
//         display: block;
//     }
// }

// .comment-navigation,
// .posts-navigation,
// .post-navigation {

//     .site-main & {
//         margin: 0 0 1.5em;
//         overflow: hidden;
//     }

//     .nav-previous {
//         float: left;
//         width: 50%;
//     }

//     .nav-next {
//         float: right;
//         text-align: right;
//         width: 50%;
//     }
// }